!source/**/_extensions/**
*.[rR][dD]ata
*.[rR]ds
*.dbf
*.doc*
*.eps
*.gddoc
*.gdsheet
*.gpkg
*.html
*.mdb
*.pdf
*.qgz
*.shp*
*.shx
*.sqlite
*.sty
*.tex
*.tfw
*.tiff
*.tiff.aux.xml
*.xls*
*_cache
*_files
*_freeze
*_libs
.DS_Store
.RData
.Renviron
.Rhistory
.Rproj.user
.Ruserdata
.httr-oauth
.quarto
docs
libs
output
renv/library
tests/testthat/_problems
data/
